-
  const ttl = "Pug/Sass/TypeScriptの環境構築"

doctype
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1.0")
    title #{ttl}
    link(rel="stylesheet" href="css/style.css")
  body
    header
      h1 #{ttl}
    main
      p フロントエンドの開発環境構築